@font-face{
    font-family: det;
    src: url('../../Assets/Fonts/Zector.otf');
    
}


.det{
    position: absolute;
    width: 32%;
    right: 0;
    top: 60%;
    margin-right: 2%;
    line-height: 150%;
    font-family: monospace;
    font-weight: 500;
    font-size: 27px;
    overflow: hidden;
}

@media screen and (max-width: '900px'){
    .det{
        position: relative;
        margin: 0;
        width: 100%;
        padding: 20px;
    }
}