@font-face{
    font-family: head;
    src: url('../../Assets/Fonts/Library\ 3\ am.otf');
}
.main{
    display: flex;
    justify-content: space-between;
    height: 90vh;
    & img{
        margin-top: 16%;
        margin-left: 10%;
        width: 50%;
        height: 80%;
        bottom: 10px;
        position: fixed;
    }
    & span{
        bottom: 0;
        left: 15px;
        font-family: head;
        font-size: 6.2em;
        position: fixed;
        &::after{
            content: 'shar';
            color: white;
        }
    }
}


@media screen and (max-width: '900px'){
    .main{
        height: auto;
        flex-direction: column;
        margin-top: 20%;
        position: absolute;
        justify-content: center;
        & img{
            position: relative;
            height: 50%;
            width: 80%;
            margin-left: 0;
        }
        & span{
            display: none;
        }
    }
}